* {
  font-family: Gibson, sans-serif;
}

.App {
  text-align: center;
  font-family: Gibson, sans-serif;
}

.spinner {
  position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.MuiCircularProgress-svg {
  color: #FFD321;
}

.MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: transparent;
}
.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary {
  background-color: #00CBB1;
}

.container {
  padding-bottom: 4rem;
}

.nav-logo {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.MuiPaper-root.MuiPaper-rounded {
  border-radius: 2rem;
}

/*auth*/
.MuiFormLabel-root.Mui-focused {
  color: #694D33 !important;
}
.MuiFilledInput-underline.Mui-focused:after {
  border-bottom: 2px solid #FFEC29 !important;
}

@media screen and (max-width: 450px) {
  #content-label {
    font-size: 12px;
  }
}
